@charset "utf-8";

/*
    @名称: base
    @功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
    font:12px/1.5 tahoma,arial,\5b8b\4f53;
}
input,select,textarea{
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th{
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:700;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:center;
}


q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}



/* 让链接在 hover 状态下显示下划线 */
a:hover {
    text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
    color: #999;
}

/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
    display:none;
}
.show{
    display:block;
}
.hide {
    display:none;
}

.fl{
    float:left;
}
.fr {
    float:right;
}

.red{ color:#D5182A;}
.mt10{ margin-top:10px;}


.w1020{ width:1180px; margin:0 auto;}
body{overflow-x:hidden;}

.headNav{ height:38px; border-bottom: 2px solid #C30101 }
.headNav .navCon{ height:38px; position:relative; z-index:11;}
.headNav .navCon .navCon-cate{ width:210px; height:38px; line-height:38px; font-size:14px; font-weight:bold; text-indent:10px; background:#B1191A;;/*#A21C1D*/ color:#FFF; position:relative;}

.headNav .navCon .navCon-menu li{float: left;height: 38px;line-height: 38px;overflow: hidden;text-align: center;width: 100px;}
.headNav .navCon .navCon-menu li a{color: #FFFFFF;display:block;font-size: 14px; font-weight: bold;height: 38px; line-height:37px;text-decoration: none;width: 100px;}
.headNav .navCon .navCon-menu li a:hover, .cur {color: #666666;text-decoration: none;}
.headNav .navCon .navCon-menu li a:hover, .curMenu {background:#6A0000;color: #FFFFFF;}

.headNav .navCon .navCon-cate .navCon-cate-title{ background:url("../image/header_menu_ico.gif") no-repeat 176px center;}
.headNav .navCon .navCon-cate .navCon-cate-title a{ color:#ffffff;}
.headNav .navCon .navCon-cate .navCon-cate-title a:hover{ text-decoration:none;}

.headNav .navCon .navCon-cate .cateMenu{ position:absolute; left:0px; font-family:"微软雅黑"; box-shadow:4px 2px 5px rgba(0, 0, 0, 0.3); background:rgb(182, 29, 29); cursor:pointer;}
.headNav .navCon .navCon-cate .cateMenu li{ width:210px;overflow:hidden;border-top:1px solid #a40000;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag{ width:190px; padding:5px 3px 5px 15px; overflow:hidden; line-height:25px;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag strong{ height:25px; line-height:25px; width:172px; display:block; text-indent:0px; background:url(../image/index_new_bg.png) 160px -128px no-repeat;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag strong a{ font-size:14px; font-weight:bold; color:#fff;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag .listModel{text-indent:0px; }
.headNav .navCon .navCon-cate .cateMenu li .cate-tag .listModel p{ height:26px;}
.headNav .navCon .navCon-cate .cateMenu li .cate-tag .listModel a{ font-size:12px; font-weight:normal; color:#e1bdbd;text-indent:0px; padding:0 11px 0 0;}
.headNav .navCon .navCon-cate .cateMenu .on{ background:#ffffff; *margin-bottom:-4px; }
.headNav .navCon .navCon-cate .cateMenu .on .cate-tag .listModel a{ color:#8D0000;}
.headNav .navCon .navCon-cate .cateMenu .on .cate-tag strong a{ color:#b61d1d;}

.float-list-dnav {background: none repeat scroll 0 0 #8D0000;clear: both;font-size: 14px;font-weight: bold;height: 47px;line-height: 47px; width: 210px;}
.float-list-dnav a {color: #FFFFFF;margin: 0 10px 0 10px;}
.float-list-dnav a:hover{ color:#ffffff;}

.headNav .navCon .navCon-cate .cateMenu .list-item{ width:750px;min-height:360px; padding:10px 10px 20px 10px; border:1px solid #A7A7A7; border-left:none; background:#FFFFFF; box-shadow:4px 3px 5px rgba(0, 0, 0, 0.5); background:url(../image/catemenubg.png) repeat-y #FFF; position:absolute; left:210px; top:0px;}
.headNav .navCon .navCon-cate .cateMenu .list-item .itemleft{ width:510px; float:left;}
.headNav .navCon .navCon-cate .cateMenu .list-item .itemright{ width:220px; float:right;}
.headNav .navCon .navCon-cate .cateMenu .list-item dl{ padding-left:10px;}
.headNav .navCon .navCon-cate .cateMenu .list-item dt{ color:#665446; font-size:14px; text-indent:0px; border-bottom:2px solid #665446; margin-bottom:8px; font-family:"微软雅黑";}
.headNav .navCon .navCon-cate .cateMenu .list-item dd{font-size:12px; font-weight:normal; text-indent:0px; line-height:26px;font-family:"微软雅黑";}
.headNav .navCon .navCon-cate .cateMenu .list-item dd a{ color:#646464; margin-right:5px; width:75px; height:22px; overflow:hidden; display:block; float:left; margin-bottom:5px; }
.headNav .navCon .navCon-cate .cateMenu .list-item dd a:hover{ color:#000;}

.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .news-list{ padding-left:10px;}
.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .news-list p{ line-height:24px; text-indent:0px; font-size:12px; font-weight:normal; color:#000;}
.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .news-list p a{ color:#646464;}
.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .news-list p a:hover{ color:#000;}

.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .ad-list{ padding-left:10px;}
.headNav .navCon .navCon-cate .cateMenu .list-item .itemright .ad-list a{ display:block; width:210px; height:100px; text-indent:0px; margin-bottom:8px; overflow:hidden;}



/*头部样式*/
.header{width:100%;min-width: 990px; height: 32px; color: #666;}
.header .head_nav{width:990px;min-width: 990px; height: 32px; margin: 0 auto;line-height: 32px;}
.header .head_nav>p{float: left;}
.header .head_nav ul {float: right;margin: 0; }

.header .head_nav ul li{width: 100px;height:32px;line-height: 32px;text-align: center;float:left;}
.nav_header ul{ margin-left: 20px;}
.nav_header ul li{display: inline-block;width:100px; height: 38px; text-align: center;
      font: 400 15px/38px "microsoft yahei";
    font-family: "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;}
.nav_header ul li a{color: black;}
.nav_header ul li a:hover{
    text-decoration:none;
    color: #FF3111;
}
/*幻灯片样式*/
.slidemain{ width: 100%; height:400px; margin:0 auto;}
.slidemain:after{ clear: both}
.sidle_right{background-color: rgba(0, 0, 0, 0.5); width: 180px; height: 380px; float: left; margin: 10px 0 0 10px;}
img { border: 0;}
.ck-slide ul { margin: 0; padding: 0; list-style-type: none;}
.ck-slide {margin:10px 0 0 220px; position:relative;overflow: hidden;width: 740px; height: 380px;float:left;}
.ck-slide ul.ck-slide-wrapper { position: absolute; top: 0; left: 0; z-index: 1; margin: 0; padding: 0;}
.ck-slide ul.ck-slide-wrapper li { position: absolute;}
.ck-slide .ck-prev, .ck-slide .ck-next { position: absolute; top: 50%; z-index: 2; width: 35px; height: 70px; margin-top: -35px; border-radius: 3px; opacity: .15; background: red; text-indent: -9999px; background-repeat: no-repeat; transition: opacity .2s linear 0s;}
.ck-slide .ck-prev { left: 5px; background: url(../image/arrow-left.png) #000 50% no-repeat;}
.ck-slide .ck-next { right: 5px; background: url(../image/arrow-right.png) #000 50% no-repeat;}
.ck-slidebox { position: absolute; left: 50%; bottom: 12px; z-index: 1;}
.ck-slidebox ul { height: 20px; padding: 0 4px; border-radius: 8px; background: rgba(0,0,0,0.5);}
.ck-slidebox ul li { float: left; height: 12px; margin: 4px 4px;}
.ck-slidebox ul li em { display: block; width: 12px; height: 12px; border-radius: 100%; background-color: #fff; text-indent: -9999px; cursor: pointer;}
.ck-slidebox ul li.current em { background-color: #fe6500;}
.ck-slidebox ul li em:hover { background-color: #fe6500;}
.ck-slide ul.ck-slide-wrapper { height: 320px;}


.content{margin: 0 auto;}
/*广告位置*/
.advertist{ width: 100%;height:auto; display:block;margin-top: 10px;}
.advertist a{ display: block;width: 20%; height: 180px; float: left;text-align: center;}
.advertist a img {width: 230px; height: 140px;}
.advertist h3 {text-align: center; color: #DD2727;font-size:18px;margin-bottom:10px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;}
/*推荐位*/
.tuijianwei{min-height: 260px;margin-top: 30px;}
.tuijianwei .rpro{border: solid 1px gray;  height: 230px; width: 100%;}
.tuijianwei .rpro ul li{width: 190px; height: 240px;display:inline-block}
.tuijianwei .rpro ul li div{width: 100%;text-align: center;overflow:hidden;}
.tuijianwei .rpro ul li .tui_img img{ margin:15px auto; width: 130px;height: 130px;}
.tuijianwei .rpro ul li .tui_til{ height: 36px;line-height: 18px;}
.tuijianwei .rpro ul li .tui_detail{ border-left: 1px solid #e6e6e6;width: 100%;}
.tuijianwei .rpro ul li .tui_til a{ width:75%;display: block;margin:0 auto;}
.tuijianwei .rpro ul li .tui_price{ height: 36px;line-height: 18px;color: #b51d1a;font-size: 18px;font-weight: 400;}
.tuijianwei .rpro ul li .tui_price i{color: #b51d1a;font-size: 14px;font-weight: 400;  font-style: normal;}
